<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>timesheet</display-name>
  <filter>
		<filter-name>struts</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>org.apache.struts2.showcase.person
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
  <!-- filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping-->
	<servlet>
		<description>
		</description>
		<display-name>
		WorkflowController</display-name>
		<servlet-name>WorkflowController</servlet-name>
		<servlet-class>workflow.WorkflowController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WorkflowSearch</display-name>
		<servlet-name>WorkflowSearch</servlet-name>
		<servlet-class>
		workflow.WorkflowSearch</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ScreenFlowControllerServlet</display-name>
		<servlet-name>ScreenFlowControllerServlet</servlet-name>
		<servlet-class>
		workflow.ScreenFlowControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FlowControllerServlet</display-name>
		<servlet-name>FlowControllerServlet</servlet-name>
		<servlet-class>
		workflow.FlowControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkflowController</servlet-name>
		<url-pattern>/WorkflowController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkflowSearch</servlet-name>
		<url-pattern>/WorkflowSearch.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScreenFlowControllerServlet</servlet-name>
		<url-pattern>/ScreenFlowControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FlowControllerServlet</servlet-name>
		<url-pattern>/FlowControllerServlet</url-pattern>
	</servlet-mapping>
	<listener>
	  	<listener-class>
	  		util.InitAMS
	  	</listener-class>
    </listener>
	
	<welcome-file-list>
		<welcome-file>/pages/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>