body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(images/img01.gif) repeat-x scroll left top;
color:#8A8A8A;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
margin:0;
padding:0;
}
h1, h2, h3 {
color:#618C04;
font-weight:normal;
margin:0;
text-transform:capitalize;
}
h1 {
font-size:44px;
}
h2 {
font-size:18px;
}
h3 {
}
p, ul, ol {
line-height:240%;
margin:0;
text-align:justify;
}
ul, ol {
}
blockquote {
}
a {
color:#77B003;
}
a:hover {
text-decoration:none;
}
a img {
border:medium none;
}
img.left {
float:left;
margin:7px 30px 0 0;
}
img.right {
float:right;
margin:7px 0 0 30px;
}
hr {
display:none;
}
.list1 {
}
.list1 li {
float:left;
line-height:normal;
}
.list1 li img {
margin:0 30px 30px 0;
}
.list1 li.alt img {
margin-right:0;
}
#wrapper {
}
#header-wrapper {
}
#header {
height:43px;
margin:0 auto;
width:940px;
}
#menu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img02.jpg) no-repeat scroll left top;
float:left;
height:43px;
width:930px;
}
#menu ul {
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#menu li {
display:block;
float:left;
text-align:center;
}
#menu a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img02.gif) no-repeat scroll left top;
color:#FFFFFF;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:31px;
margin:0;
padding:12px 12px 0;
text-align:center;
text-decoration:none;
text-transform:capitalize;
}
#menu a:hover {
text-decoration:none;
}
#menu .current_page_item a {
}
#menu .first {
}

#search form {
float:right;
margin:0;
padding:11px 0 0 0;
}
#search fieldset {
border:medium none;
margin:0;
padding:0;
}
#search input {
border:medium none;
float:left;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
#search-text {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#ECF9E4 none repeat scroll 0 0;
border:1px solid #333333;
color:#000000;
height:18px;
padding:3px 0 0 5px;
width:200px;
}
#search-submit {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#5AA01B none repeat scroll 0 0;
color:#FFFFFF;
height:21px;
margin-left:10px;
padding:0 5px;
}
#page {
margin:0 auto;
padding:70px 0 0;
width:940px;
}
#logo {
height:115px;
margin:0 auto;
width:940px;
}
#logo h1, #logo p {
color:#618C04;
font-weight:normal;
line-height:normal;
margin:0;
text-transform:lowercase;
}
#logo p {
color:#A8A8A8;
font-size:13px;
margin-top:-4px;
text-transform:lowercase;
}
#logo h1 {
font-size:48px;
padding-top:10px;
text-transform:capitalize;

}
#logo a {
color:#A8A8A8;
text-decoration:none;
}
#logo h1 a {
color:#618C04;
text-decoration:none;
}
#banner {
padding-bottom:20px;
}
#content {
float:right;
width:670px;
}
.post {
margin-bottom:45px;
}
.post .title {
height:44px;
padding-left:15px;
}
.post .title a {
color:#618C04;
font-size:30px;
text-decoration:none;
text-transform:capitalize;
}
.post .date {
}
.post .meta {
border-bottom:1px solid #D4D8CB;
color:#66665E;
font-family:Arial,Helvetica,sans-serif;
font-size:10px;
font-weight:normal;
margin-left:2px;
margin-top:-8px;
padding:0 30px 2px 15px;
}
.post .meta span {
display:block;
margin-top:-10px;
}
.post .meta a {
}
.post .entry {
margin-bottom:10px;
padding:10px 15px;
}
.post .links {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img03.gif) no-repeat scroll left top;
color:#666666;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:bold;
height:20px;
margin:0;
padding:4px 0 0 40px;
text-decoration:none;
width:120px;
}
.post .comments {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img07.gif) no-repeat scroll left top;
color:#961A06;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:bold;
height:18px;
margin:0;
padding:3px 0 0 40px;
text-decoration:none;
width:120px;
}
#sidebar {
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
width:240px;
}
#sidebar ul {
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#sidebar li {
margin-bottom:30px;
padding:0 0 10px 0;
}
#sidebar li ul {
margin:0 14px;
}
#sidebar li li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img08.gif) no-repeat scroll left 18px;
border-bottom:1px solid #E9E8DD;
margin:0;
padding:12px 0;
}
#sidebar li li a {
color:#808080;
font-weight:normal;
padding:0 0 0 20px;
}
#sidebar li li a:hover {
color:#77B003;
}
#sidebar p {
margin:0;
padding:0 14px;
}
#sidebar h2 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/img05.gif) repeat-x scroll left top;
color:#618C04;
font-size:18px;
font-weight:normal;
height:30px;
margin:0 0 10px 0;
padding:6px 0 2px 14px;
text-transform:capitalize;
}
#sidebar p {
line-height:200%;
}
#sidebar a {
font-weight:bold;
text-align:left;
text-decoration:none;
}
#calendar {
}
#calendar caption {
font-weight:bold;
padding-bottom:5px;
}
#calendar table {
border-bottom:1px solid #24130F;
border-collapse:collapse;
border-left:1px solid #24130F;
border-right:1px solid #24130F;
width:100%;
}
#calendar thead th {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#24130F none repeat scroll 0 0;
border-left:1px solid #24130F;
border-top:1px solid #24130F;
padding:5px 0;
text-align:center;
}
#calendar tbody td {
border-bottom:1px solid #24130F;
border-left:1px solid #24130F;
border-top:1px solid #24130F;
padding:5px 0;
text-align:center;
}
#calendar tfoot td {
border-bottom:1px solid #24130F;
border-left:1px solid #24130F;
padding:5px;
}
#calendar tfoot #next {
border-top:1px solid #24130F;
text-align:right;
}
#calendar tfoot #prev {
border-top:1px solid #24130F;
}
#calendar .pad {
border-bottom:1px solid #24130F;
}
#calendar #today {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#24130F none repeat scroll 0 0;
}
#footer {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E1E1E1 none repeat scroll 0 0;
height:100px;
margin:0 auto;
padding:0;
width:100%;
}
#footer-bgcontent {
}
#footer p {
font-size:10px;
line-height:normal;
margin:0;
padding:30px 0 0;
text-align:center;
text-transform:uppercase;
}
#footer a {
}

.button{
	width:100%;
}

 .paneltable{
	border:1px solid #618c04;
	border-spacing:0px;
	margin:0px;
	padding:0px;
	}
 .paneltable TD{
	border:0px solid #618c04;
	width:150px;
	border-collapse: collapse;
	}
 .buttonpanel{
 border:0px;
 }	
 .buttonpanel TD{
 border:0px;
 }	
 
 #page TABLE TD{
 padding:0px;
 vertical-align: top; 
 }
 
 #screen_title{
 width:940px;
 margin:0px auto;
 font-weight: bold;
 font-size:1.2em; 
 }